@page "/airline/services/feedback/{serviceId}"
@using System.Globalization
@using Charcillaries.Core
@using Charcillaries.Core.Features.Airline
@using Charcillaries.Core.Features.Flight
@using Charcillaries.Core.Features.Service
@using Charcillaries.Core.Features.TourOperator
@using Charcillaries.Web.HtmlHelpers
@using Microsoft.Extensions.Localization
@model Charcillaries.Web.Pages.Airline.Services.FeedbackModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<AirlineLocalization> LA
@inject IStringLocalizer<FlightLocalization> LF
@inject IStringLocalizer<ServiceLocalization> LS
@inject IStringLocalizer<TourOperatorLocalization> LT
@inject IStringLocalizer<Global> L
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_AirlineLayout";
    ViewData["Title"] = LS["services-feedback"];
}

@section Styles {
    <style>
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
    }

    .star-rating .star {
        font-size: 1.5rem;
        color: gold;
        margin-right: 0.2rem;
        transition: color 0.3s ease, transform 0.3s ease;
    }

</style>
}

<div class="container mt-5">
    @if (Model.AmenitiesFeedback.Any())
    {
        <h2 class="text-center">@Model.AmenitiesFeedback.FirstOrDefault()?.Amenity.Name Service</h2>
        <br/>

        foreach (var amenityFeedback in Model.AmenitiesFeedback)
        {
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card h-100 card-silver shadow-sm">
                        <div class="d-flex align-items-center card-header fs-5 fw-bold blue-text">
                            <span
                                class="me-2">
                                @(amenityFeedback.Passenger.Person.FirstName + " " + amenityFeedback.Passenger.Person.LastName)
                            </span>
                            @await Html.PartialAsync("HelperComponents/StarComponent", amenityFeedback.Rating ?? 0)
                        </div>
                        <div class="card-body">
                            <div
                                class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                                <div>
                                    <p class="card-text">
                                        <strong>@LF["flight"] : </strong>@amenityFeedback.Passenger.Flight.FlightNumber
                                    </p>
                                    <p class="card-text">
                                        <strong>@L["departure"]: </strong>@Arabic.ConvertToArabicDigitsByCulture(amenityFeedback.Passenger.Flight.DepartureDate.ToString(CultureInfo.CurrentCulture), CultureInfo.CurrentCulture.Name)
                                        <strong>@L["arrival"]: </strong>@Arabic.ConvertToArabicDigitsByCulture(amenityFeedback.Passenger.Flight.ArrivalDate.ToString(CultureInfo.CurrentCulture), CultureInfo.CurrentCulture.Name)

                                    </p>
                                    <p class="card-text">
                                        <strong> @amenityFeedback.Comment</strong>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }
    }
    else
    {
        <p>@L["no-data-available"]</p>
    }
</div>